

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,

body{
    height: 100%;
}

body{
    -webkit-font-smoothing: antialiasing;
    text-rendering: optimizeLegibility;
    color: #6c6c6c;
}
h1, h2, h3, h4, h5{
    color: #333;
}

h6{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.jumbotron p span {
    display: block;
}
img{
    max-width: 100%;
}
.navbar {
  margin-bottom: 0;
}
.jumbotron {
  text-align: center;
  margin-bottom: 0;
  background-color: #94A0AE;
  background-image: url(../img/dots.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.jumbotron h1{
    color: white;
}
.jumbotron p span {
    display: block;
}
.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  
  max-width: 40rem;
  background: #94A0AE;
  padding: 2rem;
  color: white;
}

.jumbotron p {
    color: white;
}

.products {
  padding: 3rem 0;
  background-color: #f7f7f7;
}

.section-content {
    padding: 5rem 0;
}

.card {
  float: left;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  max-width: 100%;
}

.card-text {
  font-size: 85%;
}

#main-footer{
    background: #262F36;
    color: white;
    padding: 2rem 0;
    font-size: 0.8rem;
}

#main-footer h6 {
    color: #718FA9; 
}
#main-footer a{
    color: #6C6F73;
}

@media screen and (min-width: 991px ) {
    
    .feature-content{
        display: flex;
        -ms-align-items: center;
        align-items: ;
    }
}












